<style media="screen">
@-webkit-keyframes spin2 {
    from { -webkit-transform: rotate(0deg);}
    to { -webkit-transform: rotate(360deg);}
}

</style>
<div class="container">

  <div class="col-xs-12">
    <div class="row marketing">
      <div id="container">
        <div class="row">
          <div class="col-xs-10">
            <div class="panel panel-default">
              <div class="panel-heading"><h4>Form file upload</h4></div>
              <div class="panel-body">
                <p>Browse for files you want upload to. Only jpg and png files will show a preview, otherwise a glyphicon file will show instead.</p>
                <div id="upload-form" class="row">
                    <button type="button" id="pickfiles" class="btn btn-success">
                      Browse File
                    </button>
                    <button type="button" ng-click="uploadFiles()" id="uploadfiles" class="btn btn-warning">
                      Start Upload
                    </button>

                    <ul class="filelist list-unstyled">
                      <li ng-repeat="f in filesUploads">
                        <div class="media">
                         <div class="media-left">
                           <div class="media-object" id="preview-{{f.id}}"></div>
                         </div>
                         <div class="media-body">
                           <h4 class="media-heading info-file">{{ f.name }}</h4>
                           <h5>File size: <b>{{ f.formatSize }}</b></h5>
                           <h5>File type: <b>{{ f.type }}</b></h5>

                           <div ng-show="f.showError" class="alert alert-danger fade in">
                            <a class="close" data-dismiss="alert" aria-label="close">&times;</a>
                            <strong>Error!</strong> {{f.error}}<br>
                           </div>
                             <div class="row">
                               <div class="col-xs-10">
                                 <div ng-show="f.showProgress && !f.showError" class="progress progress-striped active">
                                    <div class="progress-bar progress-bar-custom" role="progressbar" style="width: {{f.progressFile}}%;">
                                        <span class="sr-only">{{f.progressFile}}%</span>
                                    </div>
                                 </div>
                               </div>
                               <div class="col-xs-2">
                                 <span ng-show="f.processingFile" class="glyphicon glyphicon-refresh glyphicon-refresh-animate"></span>
                                 <span ng-show="f.complete" class="glyphicon glyphicon glyphicon-ok"></span>
                               </div>
                             </div>
                         </div>
                       </div>
                      </li>
                    </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
           <div class="col-xs-10">
             <div class="panel panel-default">
               <div class="panel-heading"><h4>Form files uploaded</h4></div>
               <div class="panel-body">
                 <p>Files uploaded will be shown below.</p>
                 <div ng-if="notFilesUploaded" class="alert alert-warning fade in">
                  <a class="close" data-dismiss="alert" aria-label="close">&times;</a>
                  <strong>There's no files yet, just upload some files!</strong><br>
                 </div>
                     <ul ng-if="!notFilesUploaded" class="filelist list-unstyled">
                       <li ng-repeat="f in filesUploaded track by f._id">
                         <div class="media">
                          <div class="media-left">
                            <a href="{{f.url}}">
                              <img ng-if="f.type == 'image/png' || f.type == 'image/jpg' || f.type == 'image/jpeg'" 
                                class="media-object" width="100" height="100" src="{{f.url}}" alt="{{f.name}}">
                              <video ng-if="f.type == 'video/mp4' || f.type == 'video/ogg' || f.type == 'video/avi' || f.type == 'video/mpg' || f.type == 'video/x-matroska'"
                               width="100" height="100" src="{{f.url}}" controls>
                                <source ng-src="{{f.url}}" type="{{f.type}}"/>
                              </video>
                            </a>
                          </div>
                          <div class="media-body">
                            <h4 class="media-heading info-file" onbeforesave="updateNameFile(f._id, $data)" editable-text="f.name">
                              {{ f.name }}
                            </h4>
                            <h5>File size: <b>{{ formatSize(f.size) }}</b></h5>
                            <h5>File type: <b>{{ f.type }}</b></h5>

                            <div ng-show="f.succesUpdated" class="alert alert-success fade in">
                             <a class="close" data-dismiss="alert" aria-label="close">&times;</a>
                             <strong>Success file name updated!</strong><br>
                            </div>
                            <button ng-click="deleteFile(f._id)" type="button" class="btn btn-danger" name="button">Delete</button>
                          </div>
                        </div>
                       </li>
                     </ul>
               </div>
             </div>
           </div>
        </div>
      </div>
     <br>

  </div>

</div>
