<div class="container">
  <div class="jumbotron">
    <h1>File uploader with AngularJS and Plupload</h1>
  </div>
  <div class="row marketing">

    <div id="container">
      <div id="upload-form" class="row">
          <button type="button" id="pickfiles" class="btn btn-success">
            Browse File
          </button>
          <button type="button" ng-click="uploadFiles()" id="uploadfiles" class="btn btn-warning">
            Start Upload
          </button>
      </div>
      <div class="row">
          <div ng-show="showProgress" class="progress">
            <div class="progress-bar progress-bar-info progress-bar-striped active" role="progressbar" style="width: {{progressFile}}%">
              <span class="sr-only">{{progressFile}}% Complete</span>
            </div>
          </div>
      </div>
      <div class="row">
           <ul id="filelist">
             <li class="list-unstyled" ng-repeat="f in filesUploads">
                  {{ f.name }} - ({{ f.size }})
             </li>
           </ul>
      </div>
    </div>
   <br>

    <div class="panel panel-default">
    <!-- Default panel contents -->
    <div class="panel-heading"><h4>Files uploads</h4></div>
    <div class="panel-body">
      <p>All files uploaded will appear here dinamically.</p>
    </div>

    <!-- Table -->
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Preview</th>
          <th>Name</th>
          <th>Size</th>
        </tr>
      </thead>
      <tbody>
      </tbody>
    </table>
  </div>
    <p>
      HTML5 Boilerplate is a professional front-end template for building fast, robust, and adaptable web apps or sites.
    </p>

    <h4>Angular</h4>
    <p>
      AngularJS is a toolset for building the framework most suited to your application development.
    </p>

    <h4>Karma</h4>
    <p>Spectacular Test Runner for JavaScript.</p>
  </div>

</div>

<script type="text/javascript">
  $("#pickfiles").click(function(ev){
      console.log("algo");
  });
</script>
